
.container{
    width: 100%;
    height: 100vh;
    background: #0099DC10;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container-login {
    width: 430px;
    height: 480px;
    background: #ffff;
    box-shadow: 0px 1px 34px #00000016;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-login form {
    width: 80%;
    height: 50%;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: #707070;
    margin: 10px 0;
}

.container-login div p{
    text-align: right;
    margin-top: 10px;
    font-weight: 400;
}

mat-form-field {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-indent: 10PX;
    border-radius: 3px;
}

button {
    height: 50px;
    width: 100%;
    margin-top: 40px;
    font-weight: 400;
    cursor: pointer;
}

::placeholder{
    font-size: 15px;
    font-family: 400;
    color: #707070;
}
