<div class="container">
    <div class="container-login">
        <label class="title">Log In</label>
        <form [formGroup]="loginForm" (submit)="perfom()">
            <mat-form-field>
                <mat-label>Email or username</mat-label>
                <input type="text" formControlName="email" matInput placeholder="Email or username">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput placeholder="Password">
            </mat-form-field>
            
            <p>¿Olvidaste tu contraseña?</p>
            <button type="submit" mat-raised-button color="primary">Log In</button>
        </form>
    </div>
</div>