mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 360px;
    border-right: none;
    background: #004A9F;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: auto;
    border-radius: 10px;
    margin: 16px;

    display: flex;
    justify-content: center;
    align-items: baseline;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

table {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.table_container {
    width: 100%;
    height: calc(100% - 50px);
}

tr:not(.table-head):hover {
    background: whitesmoke;
}
  
tr:not(.table-head):active {
    background: #efefef;
}

.table-head {
    height: 35px;
    background-color: #004A9F;
}

.mat-header-cell {
    color: white;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    background: whitesmoke;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.email {
    margin-top: 2px; 
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.card_container {
    display: grid;
    max-width: 80px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    width: 100px;
    height: 65px;
    margin: 10px;
}

mat-form-field {
    width: calc(100% - 10px);
    height: 50px;
    margin-top: 20px;
}

.example-spacer {
    flex: 1 1 auto;
  }