<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'"> 
        <mat-icon *ngIf="sidenav.opened" (click)="sidenav.toggle()">
            close
        </mat-icon>
    </button>
    Users Manager
    <span class="example-spacer"></span>
    <label (click)="logout()" style="cursor: pointer;">Log Out</label>
    <button mat-icon-button *ngIf="sidenav.close"> 
        <mat-icon (click)="logout()">
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div *ngIf="userSelected">
            <img class="avatar mat-elevation-z8" src="{{userSelected.avatar}}" />

            <div *ngIf="!editUser">
                <h4 class="name">{{userSelected.first_name}} {{userSelected.last_name}}</h4>
                <p class="email">{{userSelected.email}}</p>
            </div>

            <div *ngIf="editUser" class="form_container">
                <form [formGroup]="userForm" (submit)="perfom()">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input type="text" formControlName="first_name" matInput placeholder="Email or username">
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input type="text" formControlName="last_name" matInput placeholder="Email or username">
                    </mat-form-field>
        
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" formControlName="email" matInput placeholder="Password">
                    </mat-form-field>
                </form>
            </div>

            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button" (click)="sidenav.toggle()">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button *ngIf="!editUser" mat-button class="menu-button" (click)="edit()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button *ngIf="editUser" mat-button class="menu-button" (click)="editUser = !editUser">
                <mat-icon>cancel</mat-icon>
                <span>Cancel</span>
            </button>
            <button *ngIf="editUser" mat-button class="menu-button" (click)="perfom()">
                <mat-icon>save</mat-icon>
                <span>Save</span>
            </button>

            <mat-divider></mat-divider>
    
            <div mat-subheader>Posts</div>
            <div class="card_container">
                <mat-card class="card" *ngFor="let note of userSelected.posts">
                    <mat-card-subtitle>
                        {{note.name.toUpperCase()}}
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{note.year}} - {{note.pantone_value}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div *ngIf="!userSelected">
            <p>There is not a selected user.</p>
        </div>  
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <div class="table_container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th style="border-radius: 10px 0 0 0;" mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="first_name">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="last_name">
                        <th style="border-radius: 0 10px 0 0;" mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                    </ng-container>
    
                    <tr class="table-head" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getPosts(row)"></tr>
                </table>
                <mat-paginator #paginator
                    [length]="dataSource.length"
                    [pageSize]="6"
                    [pageSizeOptions]="[6, 12, 24]">
                </mat-paginator>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>